doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title WebShop server
    body
        main
            h1 WebShop server features testing - Admin Router
            fieldset 
                h2 Add category 
                form(method='POST' action='/admin/add-category')
                    label(for="category") Category name:
                    br
                    input(type="text", name="category", required)
                    br
                    br
                    input(type="submit", value="Add category")
                h2 Delete category 
                form(method='POST' action='/admin/delete-category')
                    label(for="categoryid") Category name:
                    br
                    select(name="categoryid", required)
                        each c in categories
                            option(value=c._id) #{c.name}
                    br
                    br
                    input(type="submit", value="Delete category")
            fieldset 
                h2 Add product 
                form(method='POST' action='/admin/add-product')
                    label(for="name") Name:
                    br
                    input(style="width: 350px", type="text", name="name", required)
                    br
                    label(for="category") Category:
                    br
                    select(name="category", required)
                        each c in categories
                            option(value=c.name) #{c.name}
                    br
                    label(for="description") Description:
                    br
                    textarea(id="description", name="description", rows="4", cols="50", required)
                    br
                    label(for="price") Price:
                    br
                    input(type="text", name="price", required)
                    br
                    label(for="units") Available units:
                    br
                    input(type="text", name="units", maxlength="4", required)
                    br
                    label(for="image") Image URL:
                    br
                    input(style="width: 350px", type="text", name="image", required)
                    br
                    br
                    input(type="submit", value="Add product")
            fieldset 
                h2 Modify/delete product 
                if data.length == 0
                    h3 Nie znaleziono produktów
                else
                    table
                        thead
                            tr
                                th image
                                th id
                                th name
                                th category
                                th description
                                th price
                                th units
                        tbody
                            each row in data
                                tr         
                                    td
                                        img(src=row.image, alt="product_img", style="height: 100px")
                                    td #{row._id}
                                    td #{row.name}
                                    td #{row.category}
                                    td #{row.description}
                                    td #{row.price} zł
                                    td #{row.units}
                                    td
                                        form(method='GET' action='/admin/product')
                                            input(type="hidden", name="productid", value=row._id)
                                            input(type="submit", value="Show product")
                                        form(method='POST' action='/admin/delete-product')
                                            input(type="hidden", name="productid", value=row._id)
                                            input(type="submit", value="Delete product")

