doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title WebShop server
    body
        main
            h2 Products
            if data.length == 0
                h3 Nie znaleziono produktów
            else
                table
                    thead
                        tr
                            th image
                            th id
                            th name
                            th category
                            th description
                            th price
                            th units
                    tbody
                        each row in data
                            tr         
                                td
                                    img(src=row.image, alt="product_img", style="height: 100px")
                                td #{row._id}
                                td #{row.name}
                                td #{row.category}
                                td #{row.description}
                                td #{row.price} zł
                                td #{row.units}
                                td
                                    form(method='POST' action='/add-product-to-cart')
                                        label(for="quantity") Quantity:
                                        br
                                        input(type="text", name="quantity", maxlength="4", required)
                                        br
                                        input(type="hidden", name="productid", value=row._id)
                                        input(type="submit", value="Add product to cart")
                                    form(method='GET' action='/product')
                                        input(type="hidden", name="productid", value=row._id)
                                        input(type="submit", value="Show product")

                                